<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sample</title>
</head>
<body>
<h1>Arguments</h1>
<p>
    The sample application received
    <span th:text="${#arrays.isEmpty(args)} ? 'no' : 'some'">...</span>
    arguments.
</p>

<p>Today is: <span th:text="${today}">13 February 2011</span></p>

<ul>
    <li th:each="a : ${args}"><span th:text="${a}">...</span></li>
</ul>
</body>
</html>